COMMANDS

tmp
notebooks/.ipynb_checkpoints
*.sqllite
api/coolers/migrations/*
*.pyc
*~
data/
real-data/
log/
*.sqlite3
*.swp
*.swo
*.swn
*.swm
media/
.DS_Store
.idea/
dump.rdb
src
# TODO: It looks like the build creates this directory? Not what I'd expect.

npm-debug.log

uploads/
static/
hgs-static/

config.json
.envrc