{
  "DEBUG": true,
  "LOG_LEVEL_CONSOLE": "DEBUG",
  "LOG_LEVEL_FILE": "DEBUG",
  "LOG_LEVEL_DJANGO": "DEBUG",
  "LOG_LEVEL_CHROMS": "DEBUG",
  "LOG_LEVEL_FRAGMENTS": "DEBUG",
  "LOG_LEVEL_TILESETS": "DEBUG",
  "UPLOAD_ENABLED": true,
  "PUBLIC_UPLOAD_ENABLED": false
}
