-e git+https://github.com/mirnylab/cooler.git@higlass-transforms#egg=cooler
pyBigWig
clodius
Cython==0.25.2
django-cors-headers
django-guardian
django-rest-swagger
Django
djangorestframework
h5py==2.6.0
numpy==1.12.0
pandas==0.19.1
requests==2.12.3
slugid==1.0.7
bumpversion==0.5.3
redis==2.10.5
