pybbi==0.2.2
bumpversion==0.5.3
CacheControl==0.12.4
cooler==0.8.6
django-cors-headers==3.0.2
django-guardian==1.5.1
django-rest-swagger==2.2.0
django==2.1.11
djangorestframework==3.9.1
h5py==2.6.0
higlass-python==0.2.1
jsonschema==3.2.0
numba==0.46.0
numpy==1.17.3
pandas==0.23.4
Pillow==5.0.0
pybase64==0.2.1
pyBigWig==0.3.2
redis==2.10.5
requests==2.20.0
scikit-learn==0.19.2
slugid==2.0.0
redis==2.10.5
clodius==0.12.0
simple-httpfs==0.2.0
pyppeteer==0.0.25

