amqp==1.4.9
anyjson==0.3.3
argparse==1.2.1
backports-abc==0.4
backports.shutil-get-terminal-size==1.0.0
backports.ssl-match-hostname==3.5.0.1
billiard==3.3.0.23
biopython==1.68
celery==3.1.24
certifi==2016.9.26
click==6.6
conda==4.2.7
cooler==0.5.3
coreapi==2.0.8
Cython==0.24.1
decorator==4.0.10
Django==1.10.2
django-cors-middleware==1.3.1
djangorestframework==3.4.7
django-rest-swagger==2.0.7
enum34==1.1.6
h5py==2.6.0
ipdb==0.10.1
ipython==5.1.0
ipython-genutils==0.1.0
itypes==1.1.0
kombu==3.0.37
numpy==1.11.2
openapi-codec==1.1.5
pandas==0.19.0
pathlib2==2.1.0
pexpect==4.2.1
pickleshare==0.7.4
prompt-toolkit==1.0.7
ptyprocess==0.5.1
pycosat==0.6.1
pycrypto==2.6.1
pyfaidx==0.4.7.1
Pygments==2.1.3
pysam==0.9.1.4
python-dateutil==2.5.3
pytz==2016.7
PyYAML==3.11
requests==2.11.1
ruamel-yaml==0.12.15
scipy==0.18.1
simplegeneric==0.8.1
simplejson==3.8.2
singledispatch==3.4.0.3
six==1.10.0
slugid==1.0.7
tornado==4.4.2
traitlets==4.3.1
uritemplate==3.0.0
virtualenv==15.0.3
wcwidth==0.1.7
wsgiref==0.1.2
